:root {
    --gridSize: 16;
}

#gridContainer {
    width: 600px;
    height: 600px;
    border: 5px red solid;
    display: grid;
    grid-template: repeat(var(--gridSize, 16), 1fr) / repeat(var(--gridSize, 16), 1fr);
}

.box {
    background-color: white;
}
